@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
.background{
  background-image:url('./assets/voting.svg');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}
h1,h2{
  font-family:"Outfit", sans-serif;
  font-weight:700;
}
p{
  font-family:"Outfit", sans-serif;
  font-weight:400;
}
.wrapper{
  background:rgba(116, 116, 228,.5);
}
.form{
  background:rgba(116, 116, 228,.3);
}
input::placeholder{
  font-family:"Out fit", sans-serif;
}